; This file is for unifying the coding style for different editors and IDEs.
; More information at http://EditorConfig.org

root = true

[*]
# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

# New line preferences
end_of_line = crlf
insert_final_newline = false
trim_trailing_whitespace = true

[*.sh]
end_of_line = lf

[*.md]
trim_trailing_whitespace = false

[*.ps1]
indent_style = space
indent_size = 2

[*.js]
indent_style = tab
indent_size = 2
