<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.10" targetFramework="net451" />
  <package id="ApprovalUtilities" version="3.0.10" targetFramework="net451" />
  <package id="NUnit" version="3.0.1" targetFramework="net451" />
  <package id="Octokit" version="0.17.0" targetFramework="net451" />
</packages>